.issue-card-container {
  display: flex;
  justify-content: end;
  background-color: transparent !important;
  cursor: pointer;
  align-items: center;
  position: relative;
  border: 1px #403D39 solid;
  border-radius: 10px;
  overflow: visible !important;

  &:hover {
    transform: scale(1.01);
    & > i::before {
      left: 20%;
      width: 150px;
    }
    & > i::after {
      left: 80%;
      width: 150px;
    }
  }

  & > i {
    position: absolute;
    inset: 0;
    display: block;
  }

  & > i::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 80%;
    height: 4px;
    width: 100px;
    background-color: #171717;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }

  & > i::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 20%;
    height: 4px;
    width: 100px;
    background-color: #171717;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }
}

.issue-card-header {
  color: gray;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 5px 0 5px 20px;
}