@use "../../../../../styles" as *;

.home-carousel {
  overflow: hidden;
  position: relative;
  background-color: transparent;
  border-radius: 2rem;

  &__body {
    display: flex;
    transition: transform 0.5s ease-in-out;

    & > img {
      width: 100%;
    }
  }

  &__icon-box {
    position: absolute !important;
    background-color: rgba($color-tertiary, 0.29) !important;

    &:hover {
      background-color: rgba($color-tertiary, 0.66) !important;
    }

    &--left {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &--right {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &__icon {
    color: $color-tertiary;
    padding: .5rem;

    &:hover {
      color: rgba($color-white, 0.8);
    }
  }

  &__footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1.5rem;

    &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
    }

    &__bar {
      transition: all;
      width: 4rem;
      height: .8rem;
      background-color: $color-white;
      border-radius: 2rem;
    }
  }
}
