@use "../../../../styles" as *;

.home {
  &__nav {
    width: 80vw;
    overflow: hidden;
    display: flex;
    margin: 2rem auto auto;
  }

  &__content {
    width: 80vw;
    overflow: hidden;
    margin: auto;
  }

  &__carousel-box {
    width: 65%;
    margin: auto;
    box-shadow: 0 .5rem 2rem $color-black;
    border-radius: 2rem;
  }

  &__cat-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 5rem auto;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 80%;
      left: 50%;
      width: 40%;
      height: 10%;
      z-index: -1;
      box-shadow: 0 0 40px 30px #595DFD;
      border-radius: 50%;
      background-color: transparent;
      transform: translate(-50%, -50%);
      filter: blur(4rem);
    }
  }

}





