@use "../../../../styles" as *;

.home {
  &__nav {
    width: 80vw;
    overflow: hidden;
    display: flex;
    margin: 2rem auto auto;
  }

  &__content {
    width: 80vw;
    overflow: hidden;
    margin: auto;
  }

  &__carousel-box {
    width: 65%;
    margin: auto;
    box-shadow: 0 .5rem 2rem $color-black;
    border-radius: 2rem;
  }

  &__cat-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 5rem auto;
  }

}





