
.item-card {
  display: flex;
  flex-direction: column;
  width: 23%;
  border-radius: 20px !important;
  background-color: #252525 !important;
  justify-content: space-between;

  &:hover {
    border: 2px solid rgb(70, 69, 69);

    & img {
      filter: brightness(110%);
      transform: scale(1.2);
      transition: all 1s cubic-bezier(.175,.885,.32,1.275);
    }
  }

  .text {
    margin-left: 15px;
    font-size: 12px;
    color: #5b5756
  }

  button {
    color: white;
  }

  span {
    padding: 8px;
    font-weight: bold;
    color: #ccc
  }

}

.img-container {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
    height: 80%;
    border-radius: 20px;
  }
}
