$color-primary: #595DFD;

$color-secondary: #1C2129;
$color-secondary-dark: #0f141a;

$color-tertiary: #1bbc9b;

$color-white: #fff;
$color-white-1: #9f9f9f;
$color-white-2: #9f9f9f;

$color-black: #000;
$color-black-1: #1C1C1C;
$color-black-2: #000;

$color-grey-light-1: #aaa;
$color-grey-light-2: #7b7b7b;

$color-grey-dark-1: #413f3f;
$color-grey-dark-2: #3d3b3b;

$color-pink-light-1: #D81B60;
$color-pink-dark-1: #AD1457;
