$color-primary: #595DFD;

$color-secondary: #1C2129;
$color-secondary-light: #1C2129;

$color-tertiary: #1bbc9b;

$color-white: #fff;
$color-white-1: #595DFD;
$color-white-2: #595DFD;

$color-black: #000;
$color-black-1: #000;
$color-black-2: #000;

$color-grey-light-1: #aaa;
$color-grey-light-2: #7b7b7b;

$color-grey-dark-2: #413f3f;
$color-grey-dark-2: #3d3b3b;

