@use "../../../styles" as *;

.subc {
  width: 80%;
  margin: auto;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  &-card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    width: 35rem;

    &__side {
      height: 50rem;
      transition: all .8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(#000, .15);

      &--front {
        background-color: $color-white;
      }

      &--back {
        transform: rotateY(180deg);

        &-1 {
          background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark);
        }

        &-2 {
          background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
        }

        &-3 {
          background-image: linear-gradient(to right bottom, $color-pink-light, $color-pink-dark);
        }
      }
    }

    &:hover &__side--front {
      transform: rotateY(-180deg);
    }

    &:hover &__side--back {
      transform: rotateY(0);
    }

    &__picture {
      background-size: cover;
      height: 23rem;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: .3rem;
      border-top-right-radius: .3rem;

      &--1 {
        background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark), url("../../../assets/images/p1.jpg");
      }

      &--2 {
        background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-light), url("../../../assets/images/p2.jpg");
      }

      &--3 {
        background-image: linear-gradient(to right bottom, $color-pink-light, $color-pink-light), url("../../../assets/images/p3.jpg");
      }
    }

    &__heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-align: center;
      color: $color-white;
      position: absolute;
      top: 12rem;
      right: 2rem;
      width: 50%;

      &-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        &--1 {
          background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark);
        }

        &--2 {
          background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
        }

        &--3 {
          background-image: linear-gradient(to right bottom, $color-pink-light, $color-pink-dark);
        }
      }
    }

    &__details {
      padding: 3rem;

      & > ul {
        list-style: none;
        width: 80%;
        margin: 0 auto;
        color: $color-grey-light-1;

        & > li {
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem;
          letter-spacing: .05rem;

          &:not(:last-child) {
            border-bottom: .1rem solid #eee;
          }

          & > span {
            font-weight: 600;
          }
        }
      }

      &-span--1 {
        color: $color-green-dark;
      }

      &-span--2 {
        color: $color-blue-dark;
      }

      &-span--3 {
        color: $color-pink-dark;
      }
    }

    &__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center;
    }

    &__price-box {
      text-align: center;
      color: $color-white;
      margin-bottom: 8rem;
    }

    &__price-only {
      font-size: 1.4rem;
    }

    &__price-value {
      font-size: 6rem;
      font-weight: 100;

      & > span {
        font-size: 2rem;
        font-weight: 300;
      }
    }

    &__btn {

      &,
      &:link,
      &:visited {
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
        background-color: $color-white;
        color: $color-grey-light-1;
      }

      &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 2rem rgba($color-black, .2);
      }
    }
  }
}