
.navbar-container {
  flex-grow: 1;
  box-shadow: none;
  position: sticky;
  z-index: 50;
  top: 0;
  transition: transform 0.6s ease-in-out;

  a {
    border: 1px solid #4f518c;
    border-width: 0 thin;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    padding: 7px;
    color: white;
    flex: 0 0 auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  a::after {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(.5);
  }
}

.search-bar {
  display: flex;
  margin: 0 5%;
  width: 100%;
  height: 45px;
  font-family: cursive;


  &:active {
    border: 0;
  }

  > input {
    width: 95%;
    height: 100%;
    border: 0 none;
    font-size: 18px;
    outline: none;
    border-radius: 20px 0 0 20px;
    text-align: center;
    letter-spacing: 0.094em;
    background-color: #0e0d0d;
    color: white;
    font-family: cursive;
  }

  & .search-button {
    background-color: #595DFD;
    color: white;
    width: 5%;
    border-radius: 0 20px 0 0;

    &:hover {
      background-color: #575af5;
    }
  }
}