.router-wrapper {
    overflow: hidden;
}

.page {
    position: absolute;
}

.page-enter {
    opacity: 0;
    transform: scale(1.2);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 600ms ease-in, transform 100ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1) ;
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9) ;
    transition: opacity 600ms ease-in, transform 100ms;
}

input {
    -webkit-text-fill-color: #ffffff;
}

/*设置input输入框输入内容后背景颜色变成丑陋的白色*/
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

/*#root {*/
/* background-image: linear-gradient(to bottom, #001E3C , #023e8a)*/
/*}*/