.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/bg/login.svg");
  background-size: cover;
  //font-family: cursive;

  &__box {
    padding: 3rem;
    background-color: rgba(28, 28, 28, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 8px #36393f;
    flex-direction: row;
    display: flex;
  }
}

.content {
  gap: 5rem;
  width: 100%;
  padding-top: 3rem;
  position: relative;
}

.content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #3399ff;
  transform: scaleX(1);
}


@keyframes bgAnimation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
}