.content {
    gap: 5rem;
    width: 100%;
    padding-top: 3rem;
    /*justify-content: center;*/
    /*place-content: center;*/
    position: relative;
}

.content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #3399ff;
    transform: scaleX(1);
}