.order-card {
  background-color: #0f141a;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 8px;
  position: relative;

  &:hover {
    transform: scale(1.001);
    border: 1px solid rgba(89, 93, 253, 0.34);
  }

  &__fixed-label {
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: 10;
  }

  &__heading {
    & > span {
      margin-right: 2rem;
      margin-left: 2rem;
      color: #7b7b7b;
      font-size: 1.2rem;
    }

    & > hr {
      display: inline;
    }
  }

  &__body {
    border-radius: 0 0 .8rem .8rem;
    padding: 2rem;
    width: 100%;

    > hr {
      height: 3rem;
      background-color: rgb(65, 63, 63);
      align-self: center;
    }
  }

  &__cell {
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7b7b7b;

    &--price {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #1bbc9b;
      font-size: 1.4rem;
    }

    &--text {
      min-width: 20rem;
      flex-direction: column;

      &--countdown,
      &--countdown::before {
        content: '⌚';
        color: white;
        font-size: 1.2rem;
      }

      &--waitpay {
        color: #f02d2d;
        margin: 0;
      }

      &--sub-span {
        font-size: 1.2rem;
      }
    }

    &--item {
      min-width: 30rem;
      max-width: 35rem;
      justify-content: flex-start;
      & > img {
        width: auto;
        height: 5rem;
        border-radius: .5rem;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &--btn {
      flex: 1;

      > button {
        margin-right: .5rem;
        font-size: 1.2rem;
        color: #595DFD !important;
        background-color: rgba(89, 93, 253, 0.2) !important;
        border-radius: .8rem !important;

        &:hover {
          background-color: rgba(89, 93, 253, 0.32) !important;
        }
      }
    }
  }
}

.order-detail-body {
  margin-left: 50px;
  padding: 5px 50px;

  & * img {
    width: auto;
    height: 40px;
    border-radius: 5px;
  }

  > hr {
    height: 15px;
    background-color: rgb(65, 63, 63);
    align-self: center;
  }

  > span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7b7b7b;
    width: 80px;
    overflow: hidden;
  }

  .MuiIconButton-root {
    background-color: #413f3f;
    padding: 4px;
    font-size: 12px;
    color: #ffffff;
    margin-right: 5px;
  }

  & .cell {
    font-size: 12px;
    align-self: center;
    width: 80px;
    overflow: hidden;
  }
}


